@font-face {
	font-family: 'lichess';
	src: url('../fonts/lichess.woff2') format('woff2'), url('../fonts/lichess.woff') format('woff'); 
}

body {
	background: #161512;
	color: #BABABA;
	font-family: 'Roboto', serif;
}

.content {
	background: #262421;
	border: 0px #000000 solid; 
	border-spacing: 0px; 
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

th.title {
	color: #BF811D;
	font-size: 26pt;
	padding-top: 20px;
	padding-bottom: 20px;
	/* padding-right: 60px; */
}

th.mode {
	color: #444444;
	font-size: 22pt;
	font-weight: normal;
	background: #161512;
}

a.mode, a.mode:link, a.mode:visited {
	color: #BF811D;
	text-decoration: none;
}

a.mode:hover {
	color: #629924;
	text-decoration: none;
}

th.type {
	color: #444444;
	font-size: 10pt;
	font-weight: normal;
	background: #161512;
	padding-bottom: 10pt;
}

a.type, a.type:link, a.type:visited {
	color: #BF811D;
	text-decoration: none;
}

a.type:hover {
	color: #629924;
	text-decoration: none;
}

th.sort {
	color: #BF811D;
	font-size: 9pt;
	font-weight: normal;
}

a.sort, a.sort:link, a.sort:visited {
	color: #BF811D;
	text-decoration: underline;
}

a.sort:hover {
	color: #629924;
	text-decoration: none;
}

th.info {
	text-align: left;
	font-size: 10pt;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: italic;
}

div.back {
	float: left;
	width: 100px;
	text-align: left;
	display: inline;
	font-size: 12pt;
	padding-left: 10px;
}

div.download {
	float: right;
	width: 100px;
	text-align: right;
	display: inline;
	font-size: 12pt;
	padding-right: 10px;
}

span.info {
	text-decoration: underline; 
	text-decoration-style: dotted; 
	cursor: help;
}

a.back, a.back:link, a.back:visited {
	color: #BF811D;
	text-decoration: underline;
}

a.back:hover {
	color: #629924;
	text-decoration: none;
}

a.active, a.active:link, a.active:visited {
	color: #629924;
	text-decoration: none;
}

a.active:hover {
	color: #629924;
	text-decoration: none;
}

a, a:hover, a:link, a:visited {
	color: #2F86E7;
	text-decoration: none;
}

tr.even {
	background: #262626;
}

tr.even:hover {
	background: #505050;
}

tr.odd {
	background: #303030;
}

tr.odd:hover {
	background: #505050;
}

th.rank, td.rank {
	width: 50px;
	text-align: right;
}

th.fidetitle, td.fidetitle {
	width: 45px; 
	text-align: right;
	color: #BF811D;
	font-weight: bold;
}

th.username, td.username {
	width: 250px;
	text-align: left;
}

th.gold, td.gold {
	width: 50px;
	color: #FFCB37;
	text-align: center;
}

th.silver, td.silver {
	width: 50px;
	color: #CFC2AA;
	text-align: center;
}

th.bronze, td.bronze {
	width: 50px;
	color: #FF7846;
	text-align: center;
}

th.points, td.points {
	width: 70px; 
	text-align: right;
	color: #629924; 
	font-weight: bold;
}

th.events, td.events {
	width: 70px; 
	text-align: left;
}

th.avg, td.avg {
	width: 40px;
	text-align: right;
}

th.max, td.max {
	width: 70px;
	text-align: right;
	padding-right: 20px;
}
